@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;1,200&display=swap');


body{
font-family: 'Poppins', sans-serif;
}

.bannar-container{
    background-size: cover;
    position: relative;
    color: rgb(24, 12, 12);
    text-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
    padding: 200px;
    font-family: sans-serif;

}

/* @media (max-width: 600px){
    .bannar-container{
    min-height: 30vh;
    min-width: 40%; }
} */
.header{
    margin: auto;
    font-style: italic;
    /* position: relative; */
}


.navbar-container{
 background-color: #024751;
   position: sticky;
   top: 0px;
    color: rgb(246, 234, 234);
    font-family: sans-serif;
    z-index: 2;

}

.about-container{
    background-color: #01ABD4;
    font-family: sans-serif;
    color: rgb(55, 70, 55);
}

.education-container{
    background-color: rgb(166, 231, 227);
}

.ed-color{
    font-family: sans-serif;
    color: brown;
}

.circle{
   background-color: rgb(66, 52, 52); 
   height: 140px;
   width: 140px;
   border-radius:70px;
   color: antiquewhite;
}

.card-body{
    font-family: sans-serif;
}

.project-container{
background-color: #01ABD4;
}

.pd-color{
    font-family: sans-serif;
    color: rgb(237, 230, 230);
}
.p-img{
    color: antiquewhite;
    font-family: sans-serif;
    font-size: large;
    margin-top: 7px;
}
.img-fluid{
    height: 260px;
    width: 300px;
}

#publication{
    font-family: sans-serif;
    margin: 50px;
    text-shadow: 2px 2px 2px rgba(250, 85, 85, 0.2);
}
.jobexperience-container{
    background-color: rgb(166, 231, 227);
}

.activity-container{
    background-color: #06809e;
    font-family: sans-serif;
}

.contact-ccontainer{
   font-family: sans-serif;
    background-color: rgb(166, 231, 227);
}

.span-1{
    font-size: 72px;
    color: rgb(220, 205, 205);
    background-color: rgb(66, 52, 52);
}

.border{
    margin: 5px;
    border-radius: 10px;
}
.c-ptag{
    background-color: aliceblue;

}

.button{
    background-color: rgb(37, 94, 229);
    color: rgb(237, 209, 209); 
    margin: 10px;
    padding: 10px;
    border: rgb(179, 210, 237);
    border-radius: 7px;
}

.button:hover{
    background-color: rgb(212, 14, 14);
   
}

.footer{
    
    background-color: rgb(66, 138, 151);
    color: aliceblue;

}

.circle-icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(246, 243, 240);
    text-align: center;
    font-size: 40px;
    color: dodgerblue;
}

.circle-icon:hover{
    background-color: rgb(20, 27, 29);
    color: rgb(217, 224, 232);
}